<!-- ALL JS FILES -->
<script src="../home/js/jquery.min.js"></script>
<script src="../home/js/popper.min.js"></script>
<script src="../home/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="../home/js/jquery.magnific-popup.min.js"></script>
<script src="../home/js/jquery.pogo-slider.min.js"></script> 
<script src="../home/js/slider-index.js"></script>
<script src="../home/js/smoothscroll.js"></script>
<script src="../home/js/TweenMax.min.js"></script>
<script src="../home/js/main.js"></script>
<script src="../home/js/owl.carousel.min.js"></script>
<script src="../home/js/form-validator.min.js"></script>
<script src="../home/js/contact-form-script.js"></script>
<script src="../home/js/isotope.min.js"></script>	
<script src="../home/js/images-loded.min.js"></script>	
<script src="../home/js/custom.js"></script>
</body>
</html>