<div class="main-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-top">
                    <a class="new-btn-d br-2" href="/akun"><span>AKUN</span></a>
                    <div class="mail-b"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> rsparujember@gmail.com</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wel-nots">
                    <p>RS Paru Jember</p>
                </div>
                <div class="right-top">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End top bar -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="images/logo1.png" alt="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><a class="nav-link active" href="#home">Beranda</a></li>
                    <li><a class="nav-link" href="#about">Tentang Kami</a></li>
                    <li><a class="nav-link" href="#services">Pelayanan</a></li>
                    <li><a class="nav-link" href="#appointment">PPID</a></li>
                    <li><a class="nav-link" href="#informasi">Informasi</a></li>
                    <li><a class="nav-link" href="#gallery">Galeri</a></li>
                    <li><a class="nav-link" href="#team">Dokter</a></li>
                    <li><a class="nav-link" href="#blog">Berita</a></li>
                    <li><a class="nav-link" href="#contact">Kontak</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>