<%- include("../template/admin/header.ejs")  %> 

<body>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/admin"><img src="../images/logo1.png" style="width: 50px;" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="../images/logo1.png" alt="Logo"></a>
                    <!-- <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a> -->
                </div>
            </div>

        </header>
        <!-- /#header -->

        <!-- Content -->
        <div class="content" style="margin-left: 300px;">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row" >
                    <center>
                        <H1>An Error Has Occured</H1>
                    </center>
                </div>
             
                    </div><!-- /# column -->
                </div>
                <!--  /Traffic -->
                <div class="clearfix"></div>
                <!-- Orders -->
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->

        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->
<%- include("../template/admin/footer.ejs")  %> 