<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Jadwal Dokter</h3>    
    </div>
        <table border="1">
            <tr>
             <th>No</th>
             <th>Klinik</th>
             <th>Dokter Spesialis</th>
             <th >Jadwal</th>
            </tr>
            <!-- 1 -->
            <tr>
                <td rowspan="3" style="background:#D7D7D7;">1</td>
                <td rowspan="3"style="background:#D7D7D7;">Infeksi Paru (Paru)</td>
                <td style="background:#D7D7D7;">dr.Movita Hidayati, Sp.p</td>
                <td style="background:#D7D7D7;">Senin,Selasa,Rabu,Pk. 07.00-11.30</td>
            </tr>
            <tr>
                <td rowspan="2" style="background:#FBFBFB;">dr.Anik Sukmawati, Sp.p</td>
                <td style="background: #FBFBFB;">Kamis,Pk. 07.00-11.30</td>
            </tr>
            <tr>
                <td style="background: #FBFBFB;">Jumat,Pk. 06.30-10.30</td>
            </tr>
            <!-- 2 -->
            <tr>
                <td rowspan="3">2</td>
                <td rowspan="3">TB DOTS</td>
                <td style="background:#D7D7D7;">dr.Movita Hidayati, Sp.p</td>
                <td style="background:#D7D7D7;">Senin,Selasa,Rabu,Pk. 07.00-11.30</td>
            </tr>1
            <tr>
                <td rowspan="2" style="background: #FBFBFB;">dr.Anik Sukmawati, Sp.p</td>
                <td style="background: #FBFBFB;">Kamis,Pk. 07.00-11.30</td>
            </tr>
            <tr>
                <td>Jumat,Pk. 06.30-10.30</td>
            </tr>
            <!-- 3 -->
            <tr>
                <td rowspan="3" style="background:#D7D7D7;">3</td>
                <td rowspan="3" style="background:#D7D7D7;">TB MDR</td>
                <td style="background:#D7D7D7;">dr.Movita Hidayati, Sp.p</td>
                <td style="background:#D7D7D7;">Senin s/d Kamis,Pk. 07.00-11.30</td>
            </tr>
            <tr>
                <td rowspan="2" style="background: #FBFBFB;">dr.Anik Sukmawati, Sp.p(Sesuai Konsulan)</td>
                <td rowspan="2">Jumat,Pk. 06.30-10.30</td>
              </tr>
              <tr>
           
            </tr>
            <!-- 4 -->
            <tr>
              <td rowspan="3">4</td>
              <td rowspan="3">Asma dan PPOK (Paru B)</td>
              <td style="background:#D7D7D7;">dr.Movita Hidayati, Sp.p</td>
              <td style="background:#D7D7D7;">Senin,Selasa,Rabu,Pk. 07.00-11.30</td>
            </tr>
            <tr>
              <td rowspan="2" style="background: #FBFBFB;">dr.Anik Sukmawati, Sp.P</td>
              <td style="background: #FBFBFB;">Kamis,Pk. 07.00-11.30</td>
          </tr>
          <tr>
              <td>Jumat,Pk. 06.30-10.30</td>
          </tr>   
            <!-- 5 -->
            <tr>
              <td rowspan="3" style="background:#D7D7D7;">5</td>
              <td rowspan="3" style="background:#D7D7D7;">Okonologi Paru</td>
              <td style="background:#D7D7D7;">dr.Anik Sukmawati, Sp.P</td>
              <td style="background:#D7D7D7;">Selasa, Pk. 09.00-11.30</td>
            </tr>
            <tr>
              <td rowspan="2">dr.Movita Hidayati, Sp.p</td>
              <td >Kamis,Pk. 09.00-11.30</td>
          </tr>
          <tr>
              <!-- <td>Jumat,Pk. 06.30-10.30</td> -->
          </tr>   
            <!-- 6 -->
            <tr>
              <td rowspan="3">6</td>
              <td rowspan="3">Interna</td>
              <td rowspan="3">dr.Indra Hartawan, Sp.PD</td>
              <td>Selasa, Pk. 09.00-11.30</td>
            </tr>
            <tr>
              <td style="background: #FBFBFB;">Kamis,Pk. 09.00-11.30</td>
          </tr>
          <tr>
              <td>Jumat,Pk. 06.30-10.30</td>
          </tr>   
           <!-- 7 -->
           <tr>
            <td style="background:#D7D7D7;">7</td>
            <td style="background:#D7D7D7;">Anak</td>
            <td style="background:#D7D7D7;">dr.Saraswati, Sp.A</td>
            <td style="background:#D7D7D7;">Sabtu,Pk. 09.00-13.00</td>
          </tr>
           <!-- 8 -->
           <tr>
            <td >8</td>
            <td >Mata</td>
            <td >dr.Cicih Komarlah, Sp.M</td>
            <td>Senin dan Rabu,Pk. 07.00-09.00</td>
          </tr>
           <!-- 9 -->
           <tr>
            <td style="background:#D7D7D7;">9</td>
            <td style="background:#D7D7D7;">Jantung</td>
            <td style="background:#D7D7D7;">dr.Pipiet Wulandari, Sp.JP</td>
            <td style="background:#D7D7D7;">Selasa dan Kamis,Pk. 07.00-09.00</td>
          </tr>
          <!-- 10 -->
          <tr>
            <td rowspan="3">10</td>
            <td rowspan="3">Bedah(BTKV Urologi,Bedah Plastik)</td>
            <td >dr.Setiadi Drajad, Sp.BTKV</td>
            <td>Selasa,Jumat,Sabtu,Pk. 07.00-11.30</td>
          </tr>
          <tr>
            <td style="background: #FBFBFB;">dr.Septa Surya Wahyudi,Sp.U</td>
            <td rowspan="2" style="background: #FBFBFB;">Selasa,Rabu,Kamis 2 Shift:
              <ul>
                <li>Shift 1 : Pk. 07.00-11.30</li>
                <li>Shift 2 : Pk. 09.30-14.00</li>
              </ul>
            </td>
        </tr>
        <tr>
          <td>dr.Ulfa Elfiah,Sp.BP-RE</td>
        </tr>   
         <!-- 11 -->
         <tr>
          <td style="background:#D7D7D7;">11</td>
          <td style="background:#D7D7D7;">Bedah Saraf</td>
          <td style="background:#D7D7D7;">dr.Fatkhul Adhiatmadja,Sp.BS</td>
          <td style="background:#D7D7D7;">Selasa dan Kamis,Pk. 16.00-18.00</td>
        </tr>
         <!-- 12 -->
         <tr>
          <td >12</td>
          <td >Gigi dan Mulut</td>
          <td >drg.Dadan Aprindo Eko T.</td>
          <td><ul>
            <li>Senin dan Rabu,Pk. 09.00-11.30</li>
            <li>Selasa dan Kamis,Pk. 07.00-09.30</li>
            <li>Jumat,Pk. 06.30-10.30</li>
          </ul></td>
        </tr>
         <!-- 13 -->
         <tr>
          <td rowspan="3" style="background:#D7D7D7;">13</td>
          <td rowspan="3" style="background:#D7D7D7;">Rehabilitasi Medis(Fisioterapi)</td>
          <td rowspan="2" style="background:#D7D7D7;">(Sesuai Konsulan dr.Spesialis)</td>
          <td style="background:#D7D7D7;">Senin s/d Kamis 2 Shift :
              <ul>
                <li>Shift 1 : Pk.07.00-11.30</li>
                <li>Shift 2 : Pk.09.30-14.00</li>
              </ul>
          </td>
        </tr>
        <tr>
          <td style="background:#D7D7D7;">Jumat 2 Shift:
            <ul>
              <li>Shift 1 : Pk.06.30-10.30</li>
              <li>Shift 2 : Pk.09.30-14.00</li>
            </ul>
          </td>
      </tr>
        </table>
 
      
    <!-- ################################################################################################ -->
    <%- include("../../template/templateTentang/footer.ejs")  %> 
