<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>RS Paru Jember</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../home/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="../home/css/pogo-slider.min.css">
	<!-- Site CSS -->
    <link rel="stylesheet" href="../home/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../home/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../home/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
     <!-- <div id="preloader">
		<div class="loader">
			<img src="images/preloader.gif" alt="" />
		</div>
    </div>end loader -->
    <!-- END LOADER -->
	
	<!-- Start top bar -->
	<div class="main-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-top">
						<a class="new-btn-d br-2" href="#"><span>AKUN</span></a>
						<div class="mail-b"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> rsparujember@gmail.com</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="wel-nots">
						<p>RS Paru Jember</p>
					</div>
					<div class="right-top">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End top bar -->
	
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="../images/logo1.png" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/">Kembali</a></li>
                        <!-- <li><a class="nav-link" href="#team">Dokter Dalam</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(../images/atrribut/bgd1.jpeg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Selamat Datang di RS Paru Jember</h1>
								<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum </p>
								<!-- <a href="#" class="btn">Hubungi Kami</a> -->
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(../images/slider-02.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Melayani dengan hati</h1>
								<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum</p>
								<!-- <a href="#appointment" class="btn">Appointment</a> -->
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image:url(../images/atrribut/bgd2.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Zona Integritas </h1>
								<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum </p>
								<!-- <a href="#" class="btn">Contact Us</a> -->
							</div>
						</div>		
					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	
	
    <!-- Start Team -->
    <section >
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Dokter Kita</h2>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
						<div class="pic">
                            <img src="../images/foto_dokter/dr_sigit_kusuma_jati.jpeg" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr. Sigit Kusuma Jati</h3>
                            <span class="post">web developer</span>
                            
                        </div>
                    </div>
                </div>
				
                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_movita_hidayati.jpeg" 
                            alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Movita Hidayati,Sp.P</h3>
                            <span class="post">Spesialis Paru</span>
                         
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_aniek_rachmawati.jpeg" 
                         alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Aniek Rachmawati,Sp. Rad</h3>
                            <span class="post">Spesialis Radiologi</span>
                           
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
    </section>

    <section style="background: #f2f3f5;">
	<div id="dokter2" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<!-- <h2>Dokter Kita</h2> -->
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
						<div class="pic">
                            <img src="../images/foto_dokter/dr_afi_adi_kirana.jpeg" style="height: 220px;" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Afi Adi Kirana</h3>
                            <span class="post">Study</span>
                            
                        </div>
                    </div>
                </div>
				
                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_ainur.jpeg" 
                             alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Ainur Rokhmah</h3>
                            <span class="post">Dokter Umum</span>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_anik_sukmawati.jpeg" 
                            alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Anik Sukmawati,Sp. P</h3>
                            <span class="post">Spesialis Paru</span>
                           
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	        
</section>
    <!-- Start Team -->
    <section >
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<!-- <h2>Dokter Dalam</h2> -->
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
						<div class="pic">
                            <img src="../images/foto_dokter/dr_dian_hadi_purnama_sari.jpeg" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr. Dian Hadi Purnama Sari</h3>
                            <span class="post">Dokter Umum</span>
                          
                        </div>
                    </div>
                </div>
				
                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_Dina_Mustikasari.jpeg" 
                            style="height: 220px;"  alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Dina Mustikasari,Sp. Rad</h3>
                            <span class="post">Spesialis Radiologi</span>
                         
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_dina_rusdiana.jpeg" 
                           alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Dina Rusdiana,M.Si</h3>
                            <span class="post"></span>
                           
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
    </section>

    <section style="background: #f2f3f5;">
	<div id="dokter2" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<!-- <h2>Dokter Kita</h2> -->
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
						<div class="pic">
                            <img src="../images/foto_dokter/dr_hendry_cleodora_romeo.jpeg"  alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Hendry Cleodora Romeo</h3>
                            <span class="post">Dokter Umum</span>
                            
                        </div>
                    </div>
                </div>
				
                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_indra_hartawan.jpeg" 
                            alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Indra Hartawan,Sp. PD</h3>
                            <span class="post">Spesialis Penyakit Dalam</span>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_irfan_arif_ikhwani.jpeg" 
                            alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Irfan Arif Ikhwani</h3>
                            <span class="post">Dokter Umum</span>
                           
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	        
</section>
<section >
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<!-- <h2>Dokter Dalam</h2> -->
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
					</div>
				</div>
			</div>
			
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
						<div class="pic">
                            <img src="../images/foto_dokter/dr_Ratna_Pancasari.jpeg" style="height: 220px;" alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Ratna Pancasari</h3>
                            <span class="post">Study</span>
                          
                        </div>
                    </div>
                </div>
				
                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/dr_ulfa_elfia.jpeg" 
                            style="height: 220px;"  alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">dr Ulfa Elfiah,Sp. BP</h3>
                            <span class="post">Spesialis Bedah Plastik</span>
                         
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
					<div class="our-team">
                        <div class="pic">
                            <img src="../images/foto_dokter/drg_dadan_aprinda_eko.jpeg" 
                            alt="">
                        </div>
                        <div class="team-content">
							<h3 class="title">drg Dadan Aprinda Eko</h3>
                            <span class="post">Dokter Gigi</span>
                           
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
    </section>
	<!-- End Team -->
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="../home/js/jquery.min.js"></script>
	<script src="../home/js/popper.min.js"></script>
	<script src="../home/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="../home/js/jquery.magnific-popup.min.js"></script>
    <script src="../home/js/jquery.pogo-slider.min.js"></script> 
	<script src="../home/js/slider-index.js"></script>
	<script src="../home/js/smoothscroll.js"></script>
	<script src="../home/js/TweenMax.min.js"></script>
	<script src="../home/js/main.js"></script>
	<script src="../home/js/owl.carousel.min.js"></script>
	<script src="../home/js/form-validator.min.js"></script>
    <script src="../home/js/contact-form-script.js"></script>
	<script src="../home/js/isotope.min.js"></script>	
	<script src="../home/js/images-loded.min.js"></script>	
    <script src="../home/js/custom.js"></script>
</body>
</html>