<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>Sejarah dan Perkembangan RS Paru Jember</p>
    </div>
    <p class="btmspace-50 justified">Rumah Sakit Paru Jember didirikan pada zaman Hindia Belanda merupakan Sanatorium milik Yayasan Stichting Centraal Vereneging Tuberculosa Besttriding (SCVT) yang terletak di Desa Plalangan, Kecamatan Kalisat. Rumah Sakit mengalami kerusakan berat akibat perang, kemudian dibangun kembali diluar Kota Jember (Lokasi RSUD Dr. Soebandi sekarang) ditambah unit rawat jalan (BP-4) di Stasiun Kota Jember.

      Tercatat Rumah Sakit Paru Jember dibangun kembali pada Tahun 1956 oleh Dokares Besuki (dr. Koesnadi). Pada Tahun 1962 karena kebutuhan pengembangan RSUD, maka dilakukan kesepakatan bersama berupa tukar menukar tanah, bangunan, sarana dan prasarana antara RS Paru dengan RSUD. Sejak Tanggal 22 November 1962 RS Paru menempati lokasi sekarang dan dikenal dengan Rumah Sakit Kreongan (berlokasi di desa kreongan), melayani penyakit paru (terutama TBC) Wilayah eks-karesidenan Besuki.
      
      Semenjak dibangun kembali pada Tahun 1956 sampai sekarang.</p>
      <p class="btmspace-50 justified">Pada Tahun 2002 sesuai Peraturan Daerah Provinsi Jawa Timur Nomor : 37 Tahun 2000 Rumah Sakit Paru Jember ditetapkan sebagai salah satu Unit Pelaksana Tehnis (UPT) Dinas Kesehatan Provinsi Jawa Timur yang berada diwilayah Jawa Timur bagian Timur tepatnya di Kota Jember yang pelayanannya meliputi Kabupaten Jember, Kabupaten Bondowoso, Kabupaten Banyuwangi, Kabupaten Situbondo dan Kabupaten Lumajang.Melalui Lokakarya I tentang Pengembangan Rumah Sakit Paru Jember di Plaza Hotel Surabaya tanggal 21 Januari 2004 dan lokakarya II di Hotel Garden Palace Tanggal 9 Desember 2010, Para Stakeholder tetap bertekad mengembangkan Rumah Sakit Paru menjadi Pusat Pelayanan Kesehatan Organ Dada (Chest Hospital) meliputi Sistem Pernafasan dan Sistem Sirkulasi/Pembuluh Darah; termasuk Bedah Thorax dan Hyperbaric Health.

        Dalam rangka upaya peningkatan pelayanan dan profesionalisme Rumah Sakit Paru Jember, diakhir Tahun 2007 telah terakreditasi 5 pelayanan tingkat dasar dan pada Bulan Oktober tahun 2011 Rumah Sakit Paru Jember  dinilai kembali okeh KARS dan dinyatakan lulus 5 pelayanan tingkat dasar.
        
        Rumah Sakit Paru Jember mendapatkan sertifikasi ISO 9001:2008 dari Badan Sertifikasi Internasional UKAS di Tahun 2008, hingga Tahun 2011 seluruh instalasi/unit telah sertifikasi ISO 9001:2008. Tidak hanya itu, untuk lebih meningkatkan pelayanan kepada masyarakat, Rumah Sakit Paru Jember berusaha menjadi PPK BLUD.
        
        Dengan diterbitkannya Peraturan Gubernur Jawa Timur Nomor 79 Tahun 2008 tentang Perubahan Atas Peraturan Gubernur Jawa Timur Nomor 29 Tahun 2008 tentang Pedoman Penerapan Pola Pengelolaan Keuangan Badan Layanan Umum Daerah Provinsi Jawa Timur dan Keputusan Gubernur Jawa Timur Nomor 188/529/KPTS/013/2009 tentang Penetapan 9 (sembilan) Unit Pelaksana Teknis Pada Dinas Kesehatan Provinsi Jawa Timur sebagai Badan Layanan Umum Daerah Unit Kerja, Rumah Sakit Paru Jember ditetapkan menjadi PPK BLUD Unit Kerja dengan status BLUD Penuh.</p>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/atrribut/bg2.jpg');">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h6 class="nospace">VISI</h6>
      <p class="nospace">“Terwujudnya Rumah Sakit Paru, Jantung, dan Bedah Kelas Dunia (World Class Hospitas) Rujukan Jawa Timur Bagian Timur”</p>
    </div>
    
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image:url('/demo/backgrounds/03.png');">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">MAKLUMAT</h3>
      <p>Kami adalah penyedia pelayanan kesehatan yang berkualitas. Kami berkkomitmen untuk terus menerus mengadakan peningkatan kualitas dan pengembangan dalam organisasi dan pelayanan kami, bagi kepuasan pasien dan masyarakat selaku pelanggan.
      </p>
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="icon fa fa-camera"></i></a>
          <h6 class="heading">1.</h6>
          <p>Kami adalah penyedia layanan kesehatan yang berkualitas berkomitmen untuk terus menerus mengadakan peningkatan kualitas dan pengembangan dalam organisasi dan pelayanan bagi kepuasan pasien dan masyarakat selaku pengguna layanan&hellip;</p>

        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="icon fa fa-bank"></i></a>
          <h6 class="heading">2.</h6>
          <p>Kami berjanji dan sanggup unutk melaksanakan pelayanan sesuai dengan standart pelayanan dan&hellip;</p>
  
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="icon fa fa-cny"></i></a>
          <h6 class="heading">3.</h6>
          <p>Kami bersedia untuk menerima sanksi dan/atau memberikan kompensasi apabila pelayanan yang diberikan tidak sesuai standart&hellip;</p>

        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">MOTTO</h3>
      <p>"Melayani dengan Hati"</p>
    </div>
  
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/atrribut/bg2.jpg');">
  <article class="hoc container"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">MISI</h3>
      <p>lorem lorem lorem lorem</p>
    </div>
    <ul class="nospace group">
      <li class="one_half first borderedbox inspace-15">
        <blockquote>Mewujudkan pelayanan kesehatan paru, jantung, bedah, dan penyakit lainnya yang dibutuhkan masyarakat secara paripurna berstandar Internasional</blockquote>
        <p class="right bold">PERTAMA</p>
      </li>
      <li class="one_half borderedbox inspace-15" style="height: 160px;">
        <blockquote>Mewujudkan manajemen pelayanan kesehatan yang efektif, efisien, transparan, akuntabel dan berkeadilan </blockquote>
        <p class="right bold">KEDUA</p>
      </li>
    </ul>
    <ul class="nospace group" style="margin-top : 50px;">
      <li class="one_half first borderedbox inspace-15">
        <blockquote>Meningkatkan sarana prasarana, teknologi dan kualitas sumber daya manusia dan </blockquote>
        <p class="right bold">KETIGA</p>
      </li>
      <li class="one_half borderedbox inspace-15">
        <blockquote>Menyelenggarakan penelitian dan pengembangan,pusat informasi dan jejaring kesehatan.</blockquote>
        <p class="right bold">KEEMPAT</p>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </article>
</div>
<%- include("../../template/templateTentang/footer.ejs") %> 