<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>FARMASI</p>
    </div>
    <div class="col-md-9 text-justify">
        <span style="color:#0000FF">Latar Belakang</span>
        <br> Pada awal berdirinya, Instalasi Farmasi hanya berupa kamar obat rawat jalan dan rawat inap dengan berjalannya waktu dan proges kerja yang baik Rumah Sakit Paru Jember menambahkan jenis pelayanan farmasi klinik yaitu dengan menambah layanan pemberian obat secara ODDD (One Day Dose Dispensing) untuk pasien askes dan jamkesmas diruang rawat inap. Obat diberikan untuk pemakaian sehari di antar ke ruang perawatan dan keluarga pasien tidak perlu antri di apotik sedangkan oabt injeksi dan oral ditempatkan dalam kotak obat yang tersedia, dengan tujuan untuk efisiensi obat dan alkes serta memantau penggunaan obat untuk pasien rawat inap. Setelah sistem ODDD berjalan dengan baik mulai kembali memberikan sistem pelayanan baru dengan sebutan pelayanan obat UDD (Unit Dose Dispensing) untuk pasien rawat inap, dengan alur pelaksanaan obat diantarkan ke ruang keperawatan dalam dosis yang sudah terbagi sesuai dengan jadwal pemberian obat (06.00, 15.00, dan 19.00).
        <br> 
        <span style="color:#0000FF">Tujuan</span> 
        <ol> 
            <li>Memberikan pelayanan farmasi secara optimal dan bermutu sesuai dengan keadaan pasien dan fasilitas yang tersdia, berdasarkan prosedur kefarmasian dan etika profesi.</li> 
            <li>Melaksanakan KIE (komunikasi Informasi Edukasi) mengenai obat.</li> 
            <li>Menajamin mutu obat yang beredar di Rumah Sakit Paru Jember.</li> 
            <li>Menjalanakan pengawasan obat berdasarkan peraturan yang berlaku.</li> 
            <li>Melaksanakan pendidikan dan pelatihan di bidang farmsai.</li> </ol> 
        <span style="color:#0000FF">Visi</span>
        <br> Menyelenggarakan pelayanan farmasi secara paripurna dan berstandar internaional.
        <br> 
        <span style="color:#0000FF">Misi</span> 
        <ol> 
            <li>Memberikan pelayanan farmasi secara optimal dan bermutu sesuai dengan keadaan psien dan fasilitas yang tersedia, berdasarkan prosedur kefarmasian dan etika profesi.</li> 
            <li>Melaksanakan KIE mengenai obat.</li> 
            <li>Menajamin mutu obat yang beredar di Rumah Sakit Paru Jember.</li> 
            <li>Menjalankan pengawasan obat berdasarkan peraturan yang berlaku.</li> 
            <li>Melaksanakan pendidikandan pelatihandi bidang farmasi.</li> </ol> </div>

    
    <!-- ################################################################################################ -->
    <%- include("../../../template/templateTentang/footer.ejs")  %> 

