<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>Laboratorium</p>
    </div>
  <div class="col-md-9 text-justify">
      <span style="color:#0000FF">Latar Belakang</span>
      <br> Laboratorium klinik merupakan salah satu instalasi penunjang medis di Rumah Sakit Paru Jember yang berfungsi sebagai media pelaynan kepada masyarakat dengan pelayanan laboratorium klinik yang bermutu. Secata fungsiional laboratorium merupakan ujung tombak dalam pelaksanaan pelayanan medis dalam mewujudkan visi misi rumah sakit yang meliputi pelayanan laboratorium dalam gedung, luar gedung, penelitian, serta pengabdian kepada masyarakat.
      <br> 
    <span style="color:#0000FF">Visi</span>
    <br> Pusat laboratorium rujukan berstandar internasional ISO 15189
    <br> 
    <span style="color:#0000FF">Misi</span> 
    <ol> 
        <li>Melaksanakan pelayanan laboratorium sebagai upaya penunjang medis dalam penegakan diagnosa dengan tepat, cepat, akurat, dan terpecaya.</li> 
        <li>Meningkatkan kuantitas dan kualitas jenis pemeriksaan dengan mempertaanakan hasil pemantapan mutu iternal dan eksternal.</li> 
        <li>Menerapkan GOod Laboratory Technic dengan benar.</li> 
        <li>Menerapkan COntinuosly Inprovment dengan berstandar ISO 9001:2008.</li> 
        <li>Mengembangkan kualitas kompetensi SDM laboratorium melalui pendidikan dan pelatihan serta kerjasam institusi.</li> </ol> 
    <span style="color:#0000FF">Jenis Pelayanan</span> 
    <ol> 
        <li>Hematologi; Darah Lengkap</li> 
        <li>Mikrobalogi; Sputum BTA</li> 
        <li>Reduksi; Reduksi, Albumin, Sedimen</li> 
        <li>Kimia Klinik; Cholesterol, Trifliserida, Gula Darah, Liver Fungsi Test, Renal Fungsi Test.</li> </ol> <span style="color:#0000FF">Jenis Pelayanan</span> 
    <ol> 
        <li>Pelayanan laboratorium untk pasien dan masyarakat.</li> 
        <li>Pemantapan mutu internal dan eksternal agar terjaga kualitas hasil laboratorium.</li> 
        <li>Penelitian yang mengkaji hasil laboratorium sebgai efek intervensi terhadap pasien.</li> 
        <li>Palayanan luar gedung dengan pelayanan mobile</li> 
        <li>Pengembang jenis pemeriksaan laboratoriukm dengan kerja sama istansi lain.</li> </ol> SDM Laboratorium
    <br> Dukungan penuh terhdap kinerja sebuah lemabga sangant ditentukan oleh kompetensi, dan kapasitas SDM. Dalam melaksanakan berbagai programnya, laboratorium Rumah Sakit Paru Jember memiliki dukungan SDM yang memadai. pada saat ini jumlah staff laboratorium sebanyak 8 orang meliputi 4 analis, 3 orang asisten analis dan 1 orang tenaga administrasi. Selain dukungan SDM, laboratorium memiliki sarana dan prasarana sebagai pendukung aktivitas dalam melaksanakan pelayanan, penelitian, pengembangan kerjasam maupun pelayanan luar gedung. Adapun sarana dan prasarana yang dimiliki antara lain; 
    <ol> 
        <li>Mikroskop Fluorescence lengkap dengan layar monitor.</li> 
        <li>Autoanalyser 901.</li> 
        <li>Utine Analyser.</li> 
        <li>Fotometer 5000.</li> 
        <li>Peralatan pendukung lainnya.</li> 
        <li>GENEXPERT pendeteksi pasien suspek TB MDR</li> </ol> </div>
    
    <!-- ################################################################################################ -->
    <%- include("../../../template/templateTentang/footer.ejs")  %> 
