<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>Loket Terpadu</p>
    </div>
    <div class="col-md-9 text-justify">
        <span style="color:#0000FF">Latar Belakang</span>
        <br> Sejalan dengan tuntutan peningkatan mutu pelayanan kesehatan khususnya dalam sistem pembayaaran kepada mssyarakat yang lebih cepat dan berkualitas Rumah Sakit Paru Jember merumuskan kebijakan yang strategis antara lain dengan dibentuknya Instalasi Loket Terpadu. Instalasi ini merupakan bagian dari struktur organisasi yang bertuga mengelola dan menjadi sentral pembayaran yang lebih efektif dan sederhana.
        <br> 
        <span style="color:#0000FF">Tujuan</span>
        <br> Memberikan pelayanan sistem pembyaran lebih praktis dan lebih sederhana serta melakukan sistem pembayaran yang lebih terkontrol dan terkendali.
        <br> 
        <span style="color:#0000FF">Visi</span> 
        <ol> 
            <li>Terwujudnya pemabyaran dengan sistem sentralisasi dalam rangka pencapaian PAD.</li> 
            <li>Mewujudkan Instalasi Loket Terpadu sebagai sentral pembayaran yang terpecaya.</li> </ol> 
        <span style="color:#0000FF">Misi</span> 
        <ol> 
            <li>Memberikan pelayanan yang cepat dan tepat.</li> 
            <li>Mempermudah sistem pembayaran.</li> 
            <li>Menyelenggarakan manajemen keuangan dan peningkatan kualitas sumberdaya terutama disektor Sumber Daya Manusia (SDM).</li> </ol> <span style="color:#0000FF">Motto</span>
        <br> BETTER-FASTER-MORE SIMPLE (Makin Baik, Lebih Cepat, Lebih Sederhana).</div>

    
    <!-- ################################################################################################ -->
    <%- include("../../../template/templateTentang/footer.ejs")  %> 

