<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Radiologi</h3>

    </div>
  <div class="col-md-9 text-justify">
      <span style="color:#0000FF">Latar Belakang</span>
      <br> Radiologi Rumah Sakit Paru Jember merupakan Instalasi Rekam Medik (IRM) yang memanfaatkan radiasi sinar pengion mulai tahun 1962, yang berlokasi di Jalan Nusa Indah No. 28 Jember, masyarakat umum mengenalnya dengan nama loket 4 RS Kreongan. Dengan peralatan koncensional ke-1 x-ray jenis mass chest merk Odelca (Philips) tahun pemasangan 1958 adalah merupakan hasil tukar menukar (guling) tanah, bangunan, dan sarana atau prasarana dengan RSUD yang masih dalam satu kecamatan kota yaitu Patrang. pada saat ini Rumah Sakit Paru Jember dibawah kepala UPT Dinas Provinsi Jatim dr. Arya Sidemen, SE,MPH menunjuk koordinator Instalasi Radiologi jabatan radiographer pelaksana dengan pengalaman lebih dari 11 tahun, beranggotakan seorang Sarjana Administratif, Ahli Madya, Teknik Elektromedik, Ahli Madya Radiologi, seorang perawat dan dua orang non medis. Rasio kegiatan 3 shift per 8 jam pemeriksaan on site dalam sehari untuk foto rontggen didalam gedung.
      <br> Dalam perjalanan Instalasi Radiiologi terdapta peningkatan 451,8 /tahun yakni sekitar jumlah pemeriksaan 127,8% dengan perbandingan jumlah pemeriksaan antara tahun 2003, 2004, dengan 2008 adalah; 8967;9203;11462. Pengguna layanan Instalasi Radiologi tidak hanya masyarakat yang ingin berobat, namun juga akademisi yang melakukan kegiatan kuliah kerja. Tercatat mahasiswa fakulta MIPA Jurusan Fisika Universitas Jember mengaplikasikan ilmu yang didapta dari bangku kuliah dengan kegiatan praktik magang.
      <br> 
    <span style="color:#0000FF">Tujuan Umum &amp; Khusus</span>
    <br> Tujuan umum untuk tercapainya pelayanan dan pendidikan dengan mutu, cakupan dan efisiensi yang optimal di Rumah Sakit melalui pelayanan radiiologi, sedangkan tujuan khusu meliputi; 
    <ol> 
        <li>Tercapainya keseragaman penyelenggaraan pelayanan radiologi dengan peralatan konvensional, baik pelayanan di dalam gedung maupun pada pelayanan luar gedung.</li> 
        <li>Terpenuhnya sarana prasarana pelayanan radiologi dan memperhatikan keamana terkait masalah proteksi radiasi serta memiliki izin pemanfaatnya.</li> 
        <li>Tercapainya kebutuhan standar minimal tenaga profesional dibidang radiologi.</li> </ol> 
    <span style="color:#0000FF">Visi</span>
    <br> Instalasi penunjang terdepan dalam terwujudnya Jember Chest System.<br> 
    <span style="color:#0000FF">Misi</span> 
    <ol> 
        <li>Menajaga kualitas pelayanan dengan SDM yang berkualitas dengan mengikutsertakan dalam pelatihan/diklat seminar.</li> 
        <li>Menjaring tenaga spesialistik, profesional dan kompeten di bidang radiologi melalui rekruitmen SDM, penempatan tenaga PNS provinsi dan kerjsama.</li> 
        <li>Mengembangkan pelayanan radiodiagnostik x-ray Mobil Unit yang menjangkau masyarakat se-eks Karesidenan Besuki.</li> 
        <li>Mengembangkan infrastruktur, gedung raditerapi.</li> </ol> </div>
    
        <%- include("../../../template/templateTentang/footer.ejs")  %> 

  
