<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>SIM RS</p>
    </div>
    <div class="col-md-9 text-justify">
        <div class="media-body"> 
        <!-- <div class="col-md-3 text-center"> 
            <img alt="" class="img-thumbnail" src="/images/sdm/layanan/simrs-1.jpg" style="margin-bottom:10px; margin-right:10px"> 
            <img alt="" class="img-thumbnail" src="/images/sdm/layanan/simrs-2.jpg" style="margin-bottom:10px; margin-right:10px"> 
            <img alt="" class="img-thumbnail" src="/images/sdm/layanan/simrs-3.jpg" style="margin-bottom:10px; margin-right:10px"> </div>  -->
        <div class="col-md-9 text-justify">
            <span style="color:#0000FF">Latar Belakang</span>
            <br> Dalam era globalisasi sekarang ini, rumah sakit dituntut untuk meningkatkan kinerja dan daya saing sebagai badan usaha dengan tidak mengurangi misi sosial yang dibawanya. Rumah Sakit harus merumuskan kebijaka-kebijakan strategis antar lain efisiensi dari dalam (oraganisasi, manajemen, seta SDM) serta harus mampu secara cepat dan tepat mengambil keputusan untuk peningkatan pelayanan kepada masyarakat agar dapat menjadi organisasi yang responsif, inovatif, efektif, efisienm dan menguntungkan. Selain itu rumitnya sistem pelaporan rumah sakit yanga tidak real time sedangkan para decition maker membutuhkan data yang cepat dan akurat untuk menunjang dalam penentuan kebijakan, maka pada tahun 2005 Rumah Sakit Paru Jember bekerja sama dengan PT. Lintang Kawuryan membuat Sistem Informasi Manajemen Rumah Sakit.
            <br> 
            <span style="color:#0000FF">Visi</span>
            <br> Be a high tech departement in all spesialistic hospital...
            <br> 
            <span style="color:#0000FF">Misi</span> 
            <ol> 
                <li>Menjadi pemimpin di bidang IT untuk kemajuan Sistem Informasi Manajemen Rumah Sakit (SIM RS)</li> 
                <li>Membangun hubungan yang baik dan berkesinambungan antara customer, perusahaan, dan vendor supplier</li> 
                <li>Memberikan service dan maintenance secara prima</li> </ol> </div> </div>
    </div>
    
    <!-- ################################################################################################ -->
    <%- include("../../../template/templateTentang/footer.ejs")  %> 