<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>IGD(Instalasi Gawat Darurat)</p>
    </div>
    <div class="col-md-9 text-justify">
      <span style="color:#0000FF">Latar Belakang</span>
      <br> Latar belakang berdirinya Instalasi Gawat Darurat (IGD) berawal dari keinginan rumah sakit untuk meningkatkan cakupan dan mutu pelayanan kepada pasien-pasien paru dengan lebih komprehensif dan paripurna. Rumah Sakit terus mempersiapkan diri untuk meningkatkan saran dan prasarana yang ada di IGD, sekligus meningkatkan mutu layanan dengan program pengembangan Sumber Daya Manusia (SDM) khususnya dokter jaga dan perawat IGD
      <br> 
      <br> 
      <span style="color:#0000FF">Tujuan</span> 
      <ol> 
        <li>Memberikan pelayanan medis dan keperawatan sebaik-baiknya sesuai standar yang telah ditetapkan di RS Paru Jember.</li> 
        <li>Meningkatkan mutu pelayanan secara konsisten dan berkesinambungan agar terwujudnya visi, misi IGD dan rumah sakit.</li> </ol> 
      <span style="color:#0000FF">Visi</span>
      <br> IGD Rumah Sakit Paru Jember bisa menjadi pusat layanan kegawatdaruratan yang cepat, nyaman, memuaskan, dan menjadi pilihan pertama di Jember.
      <br> 
      <br> 
      <span style="color:#0000FF">Misi &amp; Motto</span> 
      <ol> 
        <li>Memberikan pelayanan kegawatdaruratan dengan cepat, tepat, dan profesional.</li> 
        <li>Menyediakan suasana yang ramah dan nyaman bagi semua pasien</li> 
        <li>Menajaga kualitas pelayanan dengan memberikan pelatihan berkala dan kontinyu bagi petugas.</li> 
        <li>Menyediakan fasilitas yang canggih dan sesuai dengan kebutuhan pasien.</li> 
        <li>CTM (Cepat Tepa Memuaskan) ini menjadi spirit kami dalam memberikan pelayanan medis dan keperawatan dengan profesional dan paripurna.</li> </ol> 
      <span style="color:#0000FF">Fasilitas Instalasi Gawat Darurat</span> 
      <ol> 
        <li>ECG Monitor</li> 
        <li>Nebulaizer ultrasonic untuk kasus TB dan Non TB</li> 
        <li>WSD Set</li> 
        <li>Suction Continous</li> 
        <li>Pungtie Set</li> 
        <li>DC Shock</li> 
        <li>Emergency Set</li> 
        <li>Imfuse Pump</li> 
        <li>Surgery Set</li> 
        <li>GDA Stik</li> 
        <li>Pemeriksaan penunjang; Radiologi dan Laboratorium</li> </ol> 
      <span style="color:#0000FF">Pelayanan Instalasi Gawat Darurat</span> 
      <ol> 
        <li>Pemeriksaan dokter 24 jam</li> 
        <li>Pemeriksaan penunjang laboratorium dan radiologi 24 jam</li> 
        <li>Konsultasi dokter spesialis 24 jam meliputi; dokter spesialis paru, spesialis jantung, spesialis anak, spessialis penyakit dalam, dan spesialis radiologi</li> 
        <li>ODC (One Day Care)</li> 
        <li>Pemasangan WSD</li> 
        <li>Perekaman Jantung</li> 
        <li>Nebulizer</li> 
        <li>Rawat dan jahit luka</li> 
        <li>Pemeriksaan gula dara acak dengan stik</li> </ol> 
      <span style="color:#0000FF">SDM Instalasi Gawat Darurat</span>
      <br> Petugas IGD terdiri dari 8 dokter jaga, 2 perawat skp, 4 perawat amk, 2 petugaws administrasi dan 1 sopir ambulance. Semua dokter jaga memiliki sertifikat BCLS, ACLS, dan PPGD. Disamping sertifikat-sertifikat tersebut petugas IGD juga mendapatkan pelatihan lain yang menungjang konsulen spesialis paru, konsulen spesialis jantung, konsulen spesialis penyakit dalam, dan konsulen spesialias radiologi. Dan jangka panjang IGD sedang menyiapkan konsulen bedah thorax. Dan akan terus meningkat fasilitas yang diperlukan untuk pasie gawat darurat jantung dan paru.</div>
    <!-- ################################################################################################ -->
    <%- include("../../template/templateTentang/footer.ejs")  %> 
