<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>Layanan Utama</p>
    </div>
    <div class="col-md-8"> 
        <p>
            <strong>APAKAH TERAPI OKSIGEN HIPERBARIK?</strong>
            <br> Suatu terapi medis, dimana pasien menghirup oksigen 100%, dalam suatu ruangan khusus yang diberikan tekanan diatas 1 atmosfer absolut (ATA).</p> 
        <p>
            <strong>BAGAIMANA MEKANISME KERJANYA?</strong>
            <br> Jumlah oksigen yang dapat larut dalam darah akan semakin banyak, jika kita menghirup oksigen yang diberikan tekanan diatas 1 ATA.</p> 
        <p>
            <strong>APA MANFAAT TERAPI OKSIGEN HIPERBARIK?</strong>
            <br> Penyembuhan luka dan masalah Bedah Plastik:</p> 
            <ul> 
                <li>&nbsp;&nbsp;&nbsp; Luka Diabetik (Ulkus Diabetik)</li> 
                <li>&nbsp;&nbsp;&nbsp; Jaringan lunak yang mengalami nekrosis dan infeksi</li> 
                <li>&nbsp;&nbsp;&nbsp; Luka bakar</li> 
                <li>&nbsp;&nbsp;&nbsp; Meningkatkan tingkat keberhasilan operasi skin flaps dan skin grafts</li> </ul> 
        <p>Masalah Trauma dan Bedah Tulang:</p> 
        <ul> 
            <li>Trauma Kecelakaan 
            <ul> 
                <li>Meredakan bengkak dan nyeri</li> 
                <li>Mencegah kekurangan oksigen pada jaringan yang terluka</li> 
                <li>Mempercepat pertumbuhan jaringan dan tulang yang patah</li> </ul> </li> 
            <li>&nbsp;&nbsp;&nbsp; Sindroma Kompartemen</li> 
            <li>&nbsp;&nbsp;&nbsp; Infeksi pada tulang (Osteomielitis)</li> </ul> 
        <p>Masalah gangguan pendengaran:</p> 
        <ul> 
            <li>Tuli Mendadak</li> 
            <li>Vertigo</li> 
            <li>Telinga berdenging</li> </ul> 
        <p>Rehabilitasi pasca stroke dan kelainan syaraf lainnya:</p> 
        <ul> 
            <li>Membantu rehabilitasi pasien sesudah stroke</li> 
            <li>Memperbaiki keadaan yang dsebabkan pasokan oksigen yang kurang</li> 
            <li>Kombinasi dengan fisioterapi untuk hasil yang maksimal</li> </ul> 
        <p>Anak-anak berkebutuhan khusus (Autisme dan Cerebral Palsy):</p> 
        <ul> 
            <li>Meningkatkan aliran darah otak</li> 
            <li>Memberi pasokan oksigen ke area otak yang kekurangan</li> </ul> 
        <p>Menstimulasi jaringan otak dan memperbaiki fungsi sarafUntuk Kebugaran, Geriatri, dan Kecantikan</p> 
        <ul> 
            <li>Regenerasi selular</li> 
            <li>Memelihara kebugaran jaringan tubuh</li>
             <li>Memperbaiki kualitas istirahat</li> </ul> 
        <p>
            <strong>LARANGAN ATAU KONTRAINDIKASI TERAPI OKSIGEN HIPERBARIK</strong>
            <br> Kondisi paru tertentu, infeksi saluran pernafasan atas, dan beberapa kondisi medis lain yang menyebabkan pasien tidak dapat beradaptasi dengan kondisi ruangan hiperbarik. Sebelum melakukan terapi, silakan berkonsultasi terlebih dahulu dengan dokter hiperbarik atau mintalah surat rujukan dari dokter Anda.</p> 
        <p>
            <strong>EFEK SAMPING</strong>
            <br> Efek samping yang serius sangat jarang sekali terjadi. Keluhan terbanyak, yang dirasakan oleh pasien adalah rasa tidak nyaman sampai nyeri pada telinga, pada 5-10 menit awal terapi. Untuk mengatasi hal tersebut, pasien akan selalu didampingi oleh perawat yang akan memandu cara menyesuaikan diri terhadap tekanan (ekualisasi) dan cara bernafas dengan benar di ruang hiperbarik.</p> </div>
    <!-- ################################################################################################ -->
    <%- include("../../template/templateTentang/footer.ejs")  %> 
