<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <link rel="shortcut icon" href="../tentang/images/favico.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">

<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>Rawat Jalan</p>
    </div>
    <div class="col-md-9">
        <span style="color:#0000FF">Latar Belakang</span>
        <br> Pada awalnya sebelum adanya layanan Rawat Jalan di Rumah Sakit Paru Jember, layanannya masih berupa BP4 (Balai Pengobatan Penyakit Paru-Paru) yang beralokasi di gedung milik PJKA. Kemudian BP4 bergabung dengan Rumah Sakit Paru Jember menempati lokasi yang sekarang sejak tahun 2000, tetapi berdasarkan Perda secara resmi tahun 2002.<br> 
        <span style="color:#0000FF">Tujuan Umum &amp; Khusus</span> 
        <ol> 
            <li>Tercapainya pelayanan prima yang bermutu dan efisiensi yang optimal dalam pelayanan medis di poliklinik.</li> 
            <li>Terselenggaranya pelayanan rawat jalan di poliklinik sesuai standar pelayanan yang baku.</li> 
            <li>Terlaksananya sistem inforamasi pelayanan poliklinik untuk mendukung proses manajemen dengan data yang akurat, lengkap, dahih dan relevan.</li> 
            <li>Tercukupinya jumlah SDM yang didukung oleh pengetahuan, keterampilan dan sikap yang baik dan ditunjang oleh sara dan prasarana yang memadai.</li> 
            <li>Tersusunnya Standar Operasional Prosedur yang baku untuk kegiatan pelayanan di poliklinik.</li> 
            <li>Terjaminnya ktersediaan kebutuhan ntuk melaksanakan pelayanan baik untuk keperluan diagnostik, teraupetik maupun rehabilitatif.</li> 
        </ol> 
        <span style="color:#0000FF">Visi</span> 
        <ol> <li>Menjadi pusat pelayanan poliklinik penyakit paru yang nyaman, lengkap dan modern yang terdepan di Jawa Timur</li>
             <li>Memberikan pelayanan poliklinik penapisan.</li> 
             <li>Memberikan pelayanan poliklinik spesialistik asma dan PPOK (Penyakit Paru Obstruktif Kronik)</li> 
             <li>Memberikan pelayanan poliklinik spesialistik tuberculosis.</li> 
             <li>Memberikan pelayanan poliklinik spesialistik paru.</li> 
             <li>Memberikan pelayanan rawat jalan luar gedung</li> 
            </ol> 
            <p>
                <span style="font-size:14px">
                    <strong>
                        <span style="color:rgb(0, 0, 205)">10 Penyakit Terbanyak di Rawat Jalan Bulan Agustus 2016</span>
                    </strong>
                </span>
            </p> 
            <table style="height:350px; width:500px" align="left" border="1" cellpadding="1" cellspacing="1"> 
                <tbody> 
                    <tr> 
                        <th scope="row">No</th> 
                        <td style="text-align:center"><strong>Kode ICD Penyakit</strong></td> 
                        <td style="text-align:center"><strong>Nama Penyakit</strong></td>
                         <td style="text-align:center"><strong>Jumlah Penyakit</strong></td> 
                         <td style="text-align:center"><strong>Presentase</strong></td> 

                    </tr> 
                        
                    <tr> <th scope="row">1</th> <td style="text-align:center">B90.9</td> 
                        <td style="text-align:center">Sequelae TB Saluran Pernapasan/KP Lama</td> <td style="text-align:center">833</td> <td style="text-align:center">21,66%</td> 
                    </tr> 
                        
                    <tr> 
                        <th scope="row">2</th> 
                        <td style="text-align:center">A16.0</td> 
                        <td style="text-align:center">TB Paru (Bakteriologis &amp; Histologis-)</td> <td style="text-align:center">813</td> 
                        <td style="text-align:center">21,14%</td> 
                    </tr> 
                    
                    <tr> 
                        <th scope="row">3</th> 
                        <td style="text-align:center">A15.0</td> 
                        <td style="text-align:center">TB Paru (BTA+)</td> 
                        <td style="text-align:center">544</td> 
                        <td style="text-align:center">14,14%</td> 
                    </tr> 
                    
                    <tr> 
                        <th scope="row">4</th> 
                        <td style="text-align:center">J40</td> 
                        <td style="text-align:center">Bronkhitis tak disebut Akut atau Kronis/Alergi</td>
                         <td style="text-align:center">530</td> 
                         <td style="text-align:center">13,78%</td> 
                    </tr> 
                    
                    <tr> 
                        <th scope="row">5</th> 
                        <td style="text-align:center">J45.0</td> 
                        <td style="text-align:center">Predominantly Allergic Asthma</td> 
                        <td style="text-align:center">301</td>
                         <td style="text-align:center">7,83%</td> 
                        
                    </tr> 
                    
                    <tr> 
                        <th scope="row">6</th> 
                        <td style="text-align:center">J18.9</td> 
                        <td style="text-align:center">Pneumonia, Orgasme tak digolongkan</td>
                         <td style="text-align:center">271</td> <td style="text-align:center">7,05%</td> 
                    </tr> 
                    
                    <tr> 
                        <th scope="row">7</th> 
                        <td style="text-align:center">J18.0</td> 
                        <td style="text-align:center">Bronkhopneumonia, Organisme tak digolongkan</td> 
                        <td style="text-align:center">259</td> 
                        <td style="text-align:center">6,73%</td> 
                    </tr> 
                    
                    <tr> 
                        <th scope="row">8</th> 
                        <td style="text-align:center">J44.1</td> 
                        <td style="text-align:center">Chronic obstructive pulmonary disease with acute exacerbation, unspecified</td> 
                        <td style="text-align:center">138</td>
                         <td style="text-align:center">3,59%</td> 
                    </tr> 
                        
                    <tr> 
                        <th scope="row">9</th> 
                        <td style="text-align:center">J44.0</td>
                         <td style="text-align:center">Chronic obstructive pulmonary disease with acute lower respiratory infection</td> 
                         <td style="text-align:center">79</td> 
                         <td style="text-align:center">2,05%</td>
                     </tr>
                     
                     <tr> 
                         <th scope="row">10</th>
                          <td style="text-align:center">I10</td>
                           <td style="text-align:center">Hipertensi Primer/Esensil</td> 
                           <td style="text-align:center">78</td> 
                           <td style="text-align:center">2,03%</td>
                     </tr> 
                     
                     <tr>
                          <th scope="row">11</th> 
                          <td colspan="2" style="text-align:center"><strong>Total</strong></td>
                           <td style="text-align:center">3.846</td>
                            <td style="text-align:center">100%</td> 
                        
                    </tr>
                 </tbody> 
                </table>
             </div>
    <!-- ################################################################################################ -->
  <%- include("../../template/templateTentang/footer.ejs")  %> 