<!DOCTYPE html>

<html lang="">

<head>
<title>RS Paru Jember</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="../images/favico.ico" type="image/x-icon">


<link href="../tentang/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">RS PARU JEMBER</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Kembali</a></li>
        <!-- 
            <li><a class="active" href="#">Masuk</a></li> -->
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('../images/ruang/rsp_edited_edited.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>

            <h3 class="heading">Sudjiwo Tedjo</h3>
            <p>yang aku bayar pada dokter hanya keahliannya. Perasaan ku ketika disembuhkan tak bisa ku bayar itulah utang rasa</p>
            <!-- <footer><a class="btn" href="#">Nullam porttitor</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            <h3 class="heading">Khalil Gibran</h3>
            <p>"Arti penting manusia bukan terletak pada apa yang dia peroleh, melainkan apa yang sangat ia rindukan untuk diraih"</p>
            <!-- <footer><a class="btn inverse" href="#">Eget venenatis</a></footer> -->
          </article>
        </li>
        <li>
          <article>
            
            <h3 class="heading">Rusdi Mathari</h3>
            <p>"Jangan pernah sakit teruslah sehat dan berbahagia, sakit itu sepi, menyakitkan, dan tentu saja mahal"</p>
            <!-- <footer><a class="btn" href="#">Facilisis vestibulum</a></footer> -->
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h3 class="heading">Tahukah Anda?</h3>
      <p>IGD(Instalasi Gawat Darurat)</p>
    </div>
   <div class="col-md-9 text-justify">
       <span style="color:#0000FF">Latar Belakang</span>
       
       <br> Instalasi Rawat Inap adalah penyelenggara sistem pelayanan rawat inap kesehatan respirasi secara profesional dan paripurna. Berawal dari keterbatasan tenaga, keterbatasan sarana, keterbasan mutu layanan berjuang menjadikan Instalasi Rawat Inap sebagai penyelnggara pelayanan dengan akreditasi nasional dan memiliki pelayanan standar internasional.
       <br> 
       <span style="color:#0000FF">Tujuan</span>
       
       <br> Menjadi pusat pelayanan, penelitian, pengembangan teknologi serta informasi penyakit respirasi yang profesional, efisien, efektif, dan diminati.
       <br> 
       <span style="color:#0000FF">Visi</span>
       <br> Instalasi Rawat Inap yang mendukung visi dari RSP 2009 = (3Nx5I)<sup>I</sup>
       <br> 
       <span style="color:#0000FF">Misi</span> 
       <ol> <li>Menyelenggarakan sistem pelayanan rawat inap profesional dan pripurna.</li> <li>Menyiapkan tenaga medis dan perawat dalam jumlah dan kualifikasi sesuai mutu yang ditetapkan.</li> <li>Melaksanakan penelitian dan pengembangan tepat guna.</li> <li>Mencapai akreditasi nasional.</li> <li>Mencapai standar pelayanan internasional.</li> </ol> 
       <span style="color:#0000FF">Motto</span>
       <br> Instalasi Rawat Inap melayani denga B-E-R-S-I-H; Bermutu, Empati, Rapi, Sopan, Iman, Harmonis
       <br> 
       <span style="color:#0000FF">Program Strategis</span> 
       <ol> 
        <li>Pengembangan ruang tidak menular dan ruang anak.</li> 
        <li>Pengembangan protap medis dan asuhan keperawatan.</li> 
        <li>Pendidikan dan pelatihan tenaga medis dan perawat.</li> 
        <li>Continuing Education.</li> 
        <li>Persiapan dan pelaksanaan akreditasi nasional.</li> 
        <li>Persiapan dan pelaksanaan standar pelayanan internasional.</li> 
        <li>Pembangunan ruang rawat inap 120 TT</li> </ol> <p><strong>
        <span style="font-size:14px">
        <span style="color:rgb(0, 0, 205)">10 Penyakit Terbanyak di Rawat Inap Bulan Juli 2016</span>
        </span></strong>
    </p> 
    <table style="height:350px; width:500px" align="left" border="1" cellpadding="1" cellspacing="1"> <tbody> 
        <tr> 
            <th scope="row">No</th> 
            <td style="text-align:center"><strong>Kode ICD Penyakit</strong></td> 
            <td style="text-align:center"><strong>Nama Penyakit</strong></td> 
            <td style="text-align:center"><strong>Jumlah Penyakit</strong></td> 
            <td style="text-align:center"><strong>Presentase</strong></td> </tr> 
        <tr> 
            <th scope="row">1</th> 
            <td style="text-align:center">A15.1-A16.2</td> 
            <td style="text-align:center">Tuberkulosis Paru lainnya</td> 
            <td style="text-align:center">432</td> 
            <td style="text-align:center">22,09%</td> </tr> 
        <tr> 
            <th scope="row">2</th> 
            <td style="text-align:center">J18-J19</td> 
            <td style="text-align:center">Pneumonia</td> 
            <td style="text-align:center">403</td> 
            <td style="text-align:center">20,60%</td> </tr> 
        <tr> 
            <th scope="row">3</th> 
            <td style="text-align:center">J40-J44</td> 
            <td style="text-align:center">Bronkitis, Emfisema dan Penyakit Paru Obstruktif Kronik lainnya</td> 
            <td style="text-align:center">339</td> 
            <td style="text-align:center">17,33%</td> </tr> 
        <tr> 
            <th scope="row">4</th> 
            <td style="text-align:center">A15.0</td> 
            <td style="text-align:center">Tuberkulosis (Tb) Paru BTA+ dengan/tanpa tindakan kuman Tb</td> 
            <td style="text-align:center">326</td> 
            <td style="text-align:center">16,67%</td> </tr> 
        <tr> 
            <th scope="row">5</th> 
            <td style="text-align:center">B90.9.2</td> 
            <td style="text-align:center">Sindrom Obstruksi Pasca Tb</td> 
            <td style="text-align:center">167</td> 
            <td style="text-align:center">8,54%</td> </tr> 
        <tr> 
            <th scope="row">6</th> 
            <td style="text-align:center">C77-C80</td> 
            <td style="text-align:center">Neoplasma ganas sekunder dan neoplasma ganas kelenjar getah&nbsp; benih YTT</td> 
            <td style="text-align:center">69</td> 
            <td style="text-align:center">3,53%</td> </tr> 
        <tr> 
            <th scope="row">7</th> 
            <td style="text-align:center">J45</td> 
            <td style="text-align:center">Asma</td> 
            <td style="text-align:center">66</td> 
            <td style="text-align:center">3,37%</td> </tr> 
        <tr> 
            <th scope="row">8</th> 
            <td style="text-align:center">Q35-Q37</td> 
            <td style="text-align:center">Bibir selah dan langit-langit celah</td> 
            <td style="text-align:center">52</td> 
            <td style="text-align:center">2,26%</td> </tr> 
        <tr> 
            <th scope="row">9</th> 
            <td style="text-align:center">C34</td> 
            <td style="text-align:center">Efusi pleural (empisema)</td> 
            <td style="text-align:center">52</td> 
            <td style="text-align:center">2,66%</td> </tr> 
        <tr> 
            <th scope="row">10</th> 
            <td style="text-align:center">N40</td> 
            <td style="text-align:center">Neoplasma ganas bronkus dan paru</td> 
            <td style="text-align:center">50</td> 
            <td style="text-align:center">2,56%</td> </tr> 
        <tr> 
            <th scope="row">11</th> 
            <td colspan="2" style="text-align:center"><strong>Total</strong></td> 
            <td style="text-align:center">1.956</td> 
            <td style="text-align:center">100%</td> </tr> </tbody> </table> </div>
    <!-- ################################################################################################ -->
    <%- include("../../template/templateTentang/footer.ejs")  %> 
